@media only screen and (max-width: 500px) {
    /* Your CSS rules for elements below 390px width */
    /* For example: */
    .nav-container {
        display: flex;
        justify-content: center;
        
    }

    .container {
        width: var(--container-width-sm);
        margin: 0 auto;
    }

    .nav-menu {
        display: none;
        align-items: center;
        gap: 4rem;
        position: relative;
        left: 150px;
    }

    .header-left {
        height: 100vh;
        justify-content: flex-end;
        padding-bottom: 120px;

        
    }

    .header-left .heading {
        font-size: 30px;
        font-weight: 500;
        line-height: 2rem;
        margin-bottom: 6rem;
        text-align: start;
        /* max-width: 500px; */
    }

    .header-left .hero-btn {
        margin-bottom: 6rem;
    }

    .hero-btn {
        margin-left: 0px;
    }



    .head-para {

        font-size: 0.8rem;
        margin-bottom: 0px;
        font-weight: 400;
        text-transform: uppercase;
        /* max-width: 500px; */
    }
    
  }